progress-bar {

.progress-outer {
  width: 80%;
  margin: 5px 0px 2px 0px;
  padding: 1px;
  text-align: center;
  background-color: #f4f4f4;
  border: 1px solid #dcdcdc;
  color: #fff;
  border-radius: 20px;
  font-size: 13px;
  align-self: left;
}

.progress-inner {
  max-width: 100%;
  min-width: 11%;
  white-space: nowrap;
  overflow: hidden;
  padding: 1px;
  border-radius: 20px;
  background-color: map-get($colors, primary);
  }

}
