page-home {

  .home-item ion-label {
    margin-bottom: 2px !important;
  }

  .category-amount {
    position: absolute;
    bottom: 0;
    right: 0;
    margin: 0 23px 6px 0 !important;
  }

  .total-amount {
    margin-bottom: 15px;
  }

  #budget-amount {
    margin-right: 14px;
  }

  ion-item {
    border: none !important;
  }

  ion-item {
    background-color: "";
  }
  .scroll-content {
    background-color: "";
  }

}
