page-categories {
  * {
  box-sizing: border-box;
}

.square-container {
  padding: 8px;
}

.square {
  width: calc(100% / 3);
  float: left;
  position: relative;
  padding-bottom: calc(100% / 3);
  margin-left: 12%;
}

.square .content {

    width: calc(100% - 16px);
    height: calc(100% - 16px);
    margin: 8px;
    padding: 16px;
    position: absolute;
    color: white;
    background-color: #0095ff;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.26);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.last {
  width: calc(100% - 16px);
  height: calc(100% - 16px);
  padding: 16px;
  margin-top:8px;
  margin-left: 7px;
  position: absolute;
  color: white;
  background-color: #0095ff;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.26);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
}
